<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-4">
		<ol>
			{{#each burgers}}
				{{#unless this.devoured}}
					<li>
						{{ this.burger_name }}
					</li>

					<form action="/{{this.id}}?_method=PUT" method="POST">
						<button type="submit">Devour It!</button>
					</form>
				{{/unless}}
			{{/each}}
		</ol>
	</div> <!-- .col-md-4 -->
	<div class="col-md-4">
		<ol>
			{{#each burgers}}
				{{#if this.devoured}}
					<li>
						{{ this.burger_name }}
					</li>
				{{/if}}
			{{/each}}
		</ol>
	</div> <!-- .col-md-4 -->
</div> <!-- .row -->