body {
	background: url("../images/burger-background.png") no-repeat left center fixed;
	background-color: #ff0000;
}

div.title {
	text-align: center;
}

.title-text {
	font-family: 'Sonsie One', cursive;
	font-size: 5.625em;
	color: #ff0000;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
}

.devour-btn-container{
	float: right;
	position: absolute;
	top: 10%;
	left: 70%;
}

li.list-group-item {
	margin-bottom: 5px;
}